@charset "utf-8";
body{top:0;  background-color: rgb(203, 247, 240);width: 80%;margin-left: 10%;}
#header{padding-top: 10000000px;  width: 100%; left: 20%; height: 1000px;opacity: 1;}
#logo{position: fixed;width:15%;left:40px;text-align: right;height:60%;border-radius:50%; }/*图标*/
#nav{width: 75%;height:100%;left: 20%;text-align: center;}/*导航栏*/
#picture{padding-top: 110px;  width: 100%; height: 220px; }/*轮播图*/
#main1{width: 100%;  height: 200px;}/*学校概况*/


#main2{width: 100%;  height: 300px;}/*学校动态*/
#left{margin-left: 3%;width: 45%;  height: 100%;float: left; }
#left01{height:30%;width:40%;float:left;}
#right01{height:auto;width:60%;float:left;}
#mian01{height:60%;width:100%;}

#right{margin-left:3%;width: 45%;  height: 100%;float: left;}
#left02{height:30%;width:50%;float:left;}
#right02{height:auto;width:50%;float:left;}
#main02{height:auto;width:100%}

#main3{margin-top:50px;width: 100%;  height: 300px;}/*研究机构*/
#main4{margin-top:50px;width: 100%;  height: 400px;}/*院系概况*/
#left1{margin-left: 0; width:40%;height:80%;float: left;}
#right1{margin-left: 5%; width:40%;height:80%;float: left;}
#main5{margin-top:50px;width: 100%;  height: 400px;}/*师资概况*/
#text{margin-top:50px;width: 100%;  height: 400px;text-align: center}
#foter{position:absolute; margin-top: 740px; padding-top: 20px; width: 80%; left: 10%; height: 100px;background-color: teal;}
h2{text-align: center;font-family: 'microsoft yahei',verdana,Tahoma;}
img{max-width: 100%;}
map{background-color:#fff;  height: 100%;}
p{left: 10%;text-indent: 35px}

/*body{ font-size: 14px; font-family: "黑体-简","黑体","微软雅黑", Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif; width: 100%; margin: 0 auto;overflow-x: hidden; background-image: url("images/labrary.jpg");background-size: 100% 100%};
ul{margin: 0px;padding: 0px;}
ul li{height: 30px; width: 115px;; list-style: none; float: left; display: inline; font: 0.9em Arial,Helvetica,sans-serif;}
ul li:hover ul{display: block;}
ul li a{color: white;width: 113px;margin: 0px;padding: 0px 0px 0px 8px; text-decoration: none;display: block;background: black;line-height: 29px;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}
ul li ul{display: none;}
ul li ul li{height: 25px;text-align: center;}
ul li ul li a{background: black;line-height: 24px;}
ul li ul li a:hover{background: black}
ul li a :hover{background: black;border-bottom: 1px dashed#d6e5f7;}*/

/*导航栏部分*/
.top{
    /* 设置宽度高度背景颜色 */
    height: 1500000px; /*高度改为自动高度*/
    width:100%;
    margin-left: 0;
    position: fixed; /*固定在顶部*/
    top: 40px;/*离顶部的距离为0*/
    margin-bottom: 5px;
    background-color: cadetblue;
}
.top ul{
    /* 清除ul标签的默认样式 */
    width: auto;/*宽度也改为自动*/
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 10%;
    /* margin-top: 0;          */
    padding: 0;

}
.top li {
    float:left; /* 使li内容横向浮动，即横向排列  */
    margin-right:10%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
}

.top li a{
   /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:black;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */
    
}
.top li a:hover{
    /* 鼠标选中时背景变为黑色 */
    background-color: orangered;
}

.top ul li ul{
    /* 设置二级菜单 */
    margin-left: -0.2px;
    position: relative;
    display: none; /* 默认隐藏二级菜单的内容 */

}
.top ul li ul li{
    /* 二级菜单li内容的显示 */
    
    float:none;
    text-align: center;
}
.top ul li:hover ul{
    /* 鼠标选中二级菜单内容时 */
    display: block;
}


  /*师资概况*/
  .shizi{
    height:80%;
    width:95%;
    margin-left: 2.5%;
  }

  .btn{
    width: 100px;
    height: 100px;
    margin-top: -120px;
    border-radius: 100%;
    margin-left: 5%;
    background-color: rgba(0, 128, 128, 0.226);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .btn:hover{
    background-color: cadetblue;
    color:whitesmoke;
  }

  /*底部*/
  .foot{
     height: 18%; 
     width:100%;
     top: 2000px;
     margin-left: 0;
     position: fixed; /*固定在底部*/
     bottom: 0;
     z-index:-1;
  }